$mega-primary-color	: #e6e6e6;
$mega-title-color	: #222222;
$mega-text-color	: #777777;
$mega-nav-hover      : #a6a6a6;

$mega-white			: #fff;
$mega-black			: #232323;

.mgmenu-header.mgmenu {
    background-color:$mega-primary-color;
}
.mgmenu-nav {
    position: relative;
}
.mgmenu-mega-menu{
    .fa{
        margin-left: 5px;
        padding: 3px;
    }
}

.mgmenu-header-bar {
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
    }
    &__icon {
        font-size: 18px;
        padding: 2px;
        margin: 10px 20px;
        background-color: #232323;
        color: #fff;
        width: 35px;
        height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
.mgmenu-nav-wrapper {
    @media screen and (max-width: 991px) {
        z-index: 99;
        padding: 15px 0;
        position: fixed;
        left: -100%;
        top: 0px;
        width: 80%;
        background-color: #232323;
        height: 100%;
        -webkit-transition-property: background, width, left;
        -moz-transition-property: background, width, left;
        -o-transition-property: background, width, left;
        transition-property: background, width, left;
        -webkit-transition-duration: 0.6s;
        -moz-transition-duration: 0.6s;
        -o-transition-duration: 0.6s;
        transition-duration: 0.6s;
    }   
    @media screen and (max-width: 420px) {    
        width: 90%;
    }
    &.active {
        @media screen and (max-width: 991px) {
            width: 80%;
            left: 0;
        }
        @media screen and (max-width: 420px) {    
            width: 90%;
            left: 0;
        }
    }       
}
.mgmenu-overlay {
    @media screen and (max-width: 991px) {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.2);
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    &.active {
        visibility: visible;
        opacity: 1;
    }
}
.mgmenu-header-close {
    display: none;

    &__icon {
        font-size: 15px !important;
        line-height: 1.5 !important;
        color: #fff;
        margin: 0 15px 15px 25px;
        border: 2px solid #fff;
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 991px) {    
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 15px;
        right: 0;
    }

}
.mgmenu-header-back {
    display: none;

    &__icon {
        font-size: 15px !important;
        line-height: 1.5 !important;
        color: #fff;
        margin: 0 15px 15px 25px;
        border: 2px solid #fff;
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 991px) {    
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        top: 15px;
        right: 20%;
        z-index: 99;
    }
    @media screen and (max-width: 420px) {    
        right: 10%;
    }

}
.mgmenu-top {
    cursor: pointer;
}
.mgmenu {
    &__category{
        width: 100%;
        margin: 0 auto;
        columns: 4;
        column-gap: 30px;
        @media screen and (max-width: 1200px) {
            columns: 3;
            width: calc ("100%" - 40px);
            box-sizing: border-box;
            padding: 0px 20px 20px 0;
        }
        @media screen and (max-width: 768px) {
            columns: 2;
            margin: 0px auto;
        }
        @media screen and (max-width: 480px) {
            columns: 1;
            margin: 0px auto;
        }
    }
    &__single-item {
        margin: 0 0 10px;
        width: 100%;
        overflow: hidden;
        break-inside: avoid;
        
        &--has-child {
            margin: 0 0 20px;
        }

        a{
            text-decoration: none !important;
        }
    }
    &__nav-item {
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        align-self: start;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 2.5px 0;


    
        a {
            position: relative;
            -moz-transition: all 500ms ease;
            -webkit-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            -moz-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            font-weight: 400;
            color: $mega-white;
            font-size: 13px;
            text-decoration: none;
            width: 100%;
            padding: 3px 10px;
            word-wrap: break-word;

            &:hover {
                background-color: lighten($color: $mega-white, $amount: 10%);
                text-decoration: none;
            }
        }
    }
    &__nav {
        flex-direction: column;
        margin-bottom: 0;
        padding: 0px;
    }
    &__title{
        position: relative;
        padding-left: 20px;
        color: $mega-white;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 8px;
        word-wrap: break-word;

        &--clickable {
            position: relative;
            -moz-transition: all 500ms ease;
            -webkit-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            -moz-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            color: $mega-white;
            text-decoration: none;
            margin-bottom: 0;
           
            &:hover {
                background-color: $mega-white;
                text-decoration: none;
                color: black;
            }
            h5{
               &:hover{
                text-decoration: none;
               }
            }
        }
        &--brand {
            border-bottom: 1.2px solid #e3e8ec;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 6px;
            width: 10px;
            height: 10px;
            background-color: $mega-white;
        }
    }
    .brand-large-img {
        .brand-image {
            width: 100%;
            height: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $mega-nav-hover;
            opacity: 1;
            display: block;
            transition: 0.5s ease;
            backface-visibility: hidden;
            &--categories {
                height: 280px;
            }
        }
        .img {
            position: relative;
            width: 100%;
        }

        .middle {
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .img:hover .image {
            opacity: 0.60;
        }

        .img:hover .middle {
            opacity: 1;
        }
    }
}

.mgmenu-brand-img {
    max-width: 90px;
    padding-bottom: 10px;
    @media screen and (max-width: 1024px) {
        max-width: 80px;
    }
    @media screen and (max-width: 767px) {
        max-width: 60px;
    }
}
.mgmenu-big-img {
    margin-top: 10px;
    border-top: 1px solid #e3e8ec;
    padding: 20px 0px;
    max-width: 150px;
    @media screen and (max-width: 1024px) {
        max-width: 120px;
    }
    @media screen and (max-width: 767px) {
        max-width: 100px;
    }
}

/* Navigation Styles */
.mgmenu-nav {
    position: relative;
}
.mgmenu-header.mgmenu .mgmenu-nav {
    background-color: $mega-primary-color;
}

ul.mgmenu-main-nav {    
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    height: 100%;

    @media screen and (max-width: 991px) {
        overflow: auto;
    }
}

ul.mgmenu-main-nav > li {
    display: inline-block;
    padding: 0;
}

ul.mgmenu-main-nav > li > a {
    display: block;
    padding: 14px 25px;
    color: $mega-title-color;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
    transition: 0.3s ease-in-out all;
    @media screen and (max-width: 991px) {
        padding: 3px 25px;
    }
    &:hover {
        background: $mega-nav-hover;
        display: block;
        z-index: 99;
        text-decoration: none !important;
    }
}

ul.mgmenu-main-nav > li:hover {
    background-color: $mega-nav-hover;
}
ul.mgmenu-main-nav > li:hover > a {
    color: #333;
    font-weight: 500;
}

.sub-menu-head {
    margin: 10px 0;
}

@media only screen and (max-width: 991px) {

    .mgmenu-mega-menu{
        color: $mega-white !important;
        padding-top: 10px;
        padding-bottom: 10px;

        .fa{
            margin-left: 5px;
            padding: 3px;
        }
    }
    
    ul.mgmenu-main-nav > * {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 1;
    }

    ul.mgmenu-main-nav > li > a:after {
        display: none;
    }
    ul.mgmenu-main-nav > li:first-child {
        border-radius: 0px;
    }
    ul.mgmenu-main-nav > li {
        display: block;
        // border-bottom: 1px solid #444;
    }

    ul.mgmenu-main-nav > li > a {
        font-weight: 600;
    }

    ul.mgmenu-main-nav > li:hover {
        background-color: transparent;
    }
    ul.mgmenu-main-nav > li:hover > a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

    .mgmenu-top {
        margin-bottom: 20px;

        &--has-submenu {
            &.active {
                .mgmenu-sub-menu-block {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .mgmenu-sub-menu-block {
                transition: all 0.5s ease-in-out;
                opacity: 0;
                visibility: hidden;
                left: 0;
                top: 0;
                height: 100%;
                position: absolute;
                width: 100%;
                background-color: #232323;
                margin: 0 0;
                padding: 40px 30px;
                overflow-y: auto;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .mgmenu-nav {
        background: transparent;
    }
    
    ul.mgmenu-main-nav {
        display: block;
        position: relative;
    }
    .mgmenu-sub-menu-block {
        padding: 30px;
    }

    /* Sub Menu */
    ul.mgmenu-main-nav > li > div.mgmenu-sub-menu-block {
        visibility: hidden;
        // background-color: #f9f9f9;
        position: absolute;
        margin-top: 0px;
        width: 100%;
        color: #333;
        left: 0;
        box-sizing: border-box;
        z-index: 3;
        font-size: 16px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        opacity: 0;

        /*CSS animation applied for sub menu : Slide from Top */
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    ul.mgmenu-main-nav > li:hover > div.mgmenu-sub-menu-block {
        background-color: $mega-black;
        visibility: visible;
        opacity: 1;        
        cursor: default;
    }

    ul.mgmenu-main-nav > li > div.mgmenu-sub-menu-block > * {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
    }

    ul.mgmenu-main-nav > li:hover > div.mgmenu-sub-menu-block > * {
        opacity: 1;
    }

    .sub-menu-head {
        font-size: 20px;
    }

    
    .mgmenu-header.mgmenu ul.mgmenu-main-nav > li > a:after {
        background-color: #777;
    }
    .mgmenu-header.light ul.mgmenu-main-nav > li > a:after {
        background-color: #999;
    }

    /* Drop Down/Up Arrow for Mega Menu */
    ul.mgmenu-main-nav > li > a.mgmega-menu > span {
        display: block;
        vertical-align: middle;
    }
    ul.mgmenu-main-nav > li > a.mgmega-menu > span:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #666;
        content: "";
        background-color: transparent;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }

    ul.mgmenu-main-nav > li:hover > a.mgmega-menu span:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 5px solid #666;
    }
}
